services:
    app:
      build:
        context: .
        dockerfile: Dockerfile
      command: sleep infinity
      working_dir: /workspaces/image-information-retrieval
      volumes:
        - ..:/workspaces/image-information-retrieval
      depends_on:
        - ollama
        
    ollama:
        image: ollama/ollama:latest
        container_name: ollama
        restart: unless-stopped
        ports:
            - "11434:11434"
        volumes:
            - ollama_data:/root/.ollama
            
volumes:
  ollama_data:
    driver: local
